body {
    margin: 0;
    background-color: #f4f6f8;
}

#gridWrapper {
    padding:5px 12px 10px 5px;
}

#dhis2HeaderBar{
    font-family: Roboto;
}

#dhis2HeaderBar a > div {
    padding: 0;
}

.notSupportedItem {
    font-family: Roboto;
    margin-top: 10px;
    padding: 0 16px;
}